.contenedor {
  padding: 30px;
}
.input {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
}
.boton {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: rgb(229, 66, 66);
  color: rgb(233, 215, 215);
  font-size: 20px;
  margin: 10px;
}
.boton:hover {
  color: rgb(229, 66, 66);
  background-color: rgb(233, 215, 215);
  cursor: pointer;
}
